#x {
    height:500px;
    width:100%;
    background: yellow;
    border-radius:50px;
}
#y {
    height:100px;
    width:100%;
    background: forestgreen;
    border-radius:50px;
}
#z {
    height:100px;
    width:100%;
    background: darkmagenta;
    border-radius:50px;
}