#first {
    height:50px;
    width:100%;
    background:red;
    color:yellow;
}
.rohit {
    height:50px;
    width:100%;
    background:blue;
}
table,th,td{
    border: 5px dashed black
}
body{
    background-image:url('job.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    
}